body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;

    &:focus {
        outline: none;
    }
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

html,
body {
    height: 100%;
    width: 100%;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}

// 公共样式
.align-center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}


// mixin的传参   他和js的函数一样，支持传参；
// @mixin 
//  @media screen (width > 300){}
// 入参要以$开头,他是变量的意思 
// 在js中,函数其实可以有默认参数
// function fn(params = {}){}

// 样式进阶
// 前提条件  这种混合(mixin)的语法,必须要在预编译中才可以使用;
// 如果是css,是不支持的;
// 预编译: scss less  stylus;

// mixin 的使用
// mixin 的传参
// mixin 的默认赋值
@mixin flex-content($content : center){
    display:flex;
    justify-content:$content;
    align-items: center;
}

.flex-around{
    @include flex-content(space-around);
}

.flex-between {
    @include flex-content(space-between);
}

.flex-center {
    @include flex-content;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.w-180 {
    width: 180px;
}

.w-250 {
    width: 250px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-15 {
    margin-right: 15px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.c-bababa {
    color: #bababa;
}

.c-909090 {
    color: #909090;
}

.c-ff4400 {
    color: #ff4400;
}

.over-hidden {
    overflow: hidden;
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

// 项目中的样式
.icon {
    width: 24px;
    height: 24px;
}

:root {
    --header-height: 60px;
    --form-color: #606266;
}

.wrap {
    height: 100%;
    background: #fff;
    padding: 15px 12px;
    box-sizing: border-box;
}

.form-color {
    color: var(--form-color);
}

.title-1 {
    padding: 15px 12px;
    background: #fff;
}

.pagination {
    padding: 12px 15px;
    background: #fff;
}